
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Odaberite način dostave</title>
</head>
<body>
    <p>Narudzba zakljucena!</p>
    <br />
    <a href="/Proizvodi/Index" style="text-align:left">Back to shopping</a>
</body>
</html>
